<li>
    <p>
        <small>
          <a href="/comment/destroy/<%= comment._id %>">X</a>
        </small>
        <%= comment.content %>
        <small>
        <%= comment.user.name %>
      </small>
      </p>
</li>