<html>
    <head>
        <title>
            <%= title %>
        </title>
        <%- include('headers.ejs'); %>
    </head>
    <body>
   
        <%- body %>   
   
        <%- include('footer.ejs'); %>
   </body>

</html>