<h1>New user sign-up</h1>
<form action="/users/create" method="POST">
    <input name="email" type="email" required placeholder="abc@xyz.com">
    <br>
    <input name="passwords" type="password" required placeholder="password">
    <br>
    <input name="cpasswords" type="password" required placeholder="confirm password">
    <br>
    <input name="name" type="text" required ><br>
    <input type="submit">
</form>
<P>
    <a href="/users/auth/google">Google sign-in/sign-up</a>
</P>